@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

/* From here */

* {
  font-family: "Space Mono", monospace;
}

body {
  background-color: #27273d;
  background-image: url("../assets/Noise.png");
  color: #fff;
}

/* Navbar */
.navbar-container {
  color: #fff;
  align-items: center;
  font-size: 14px;
}

.navbar-container a {
  margin-right: 75px;
}

.logo {
  width: 75px;
  height: 64px;
  font-size: 24px;
}

.logo-text {
  font-size: 36px;
  font-weight: bold;
}

.connect-wallet {
  position: absolute;
  right: 0;
  display: flex;
  font-size: 24px;
  padding-right: 100px;
  border-bottom: 3px solid #fff;
}

.create-btn {
  margin-left: auto;
  margin-right: 350px;
  display: flex;
  font-size: 24px;
  padding-right: 130px;
  border-top: 3px solid #fff;
}

/* Moving Image Gallery */
.moving-images {
  display: flex;
  align-items: center;
  margin-left: 400px;
  margin-top: 250px;
  overflow: visible;
}

.box {
  background-color: transparent;
  z-index: 1;
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateX(0deg) rotateY(35deg);
  }
  100% {
    transform: perspective(1000px) rotateX(360deg) rotateY(35deg);
  }
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
}

.box span:nth-child(1) {
  transform: rotateX(45deg) translateZ(300px);
}
.box span:nth-child(2) {
  transform: rotateX(90deg) translateZ(300px);
}
.box span:nth-child(3) {
  transform: rotateX(135deg) translateZ(300px);
}
.box span:nth-child(4) {
  transform: rotateX(180deg) translateZ(300px);
}
.box span:nth-child(5) {
  transform: rotateX(225deg) translateZ(300px);
}
.box span:nth-child(6) {
  transform: rotateX(270deg) translateZ(300px);
}
.box span:nth-child(7) {
  transform: rotateX(315deg) translateZ(300px);
}
.box span:nth-child(8) {
  transform: rotateX(360deg) translateZ(300px);
}

.box span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Landing page */
.landing-page {
  color: #fff;
}

.left-text {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  font-size: 24px;
  position: absolute;
  left: 10px;
  top: 200px;
  opacity: 0.5;
  background: transparent;
}

.explore {
  position: absolute;
  right: 300px;
  bottom: 80px;
  font-size: 72px;
  overflow: visible;
  z-index: 5 !important;
}

.featured {
  position: absolute;
  right: 300px;
  top: 200px;
  z-index: 10;
  background: transparent;
}

.featured h4 {
  font-size: 36px;
  background-color: transparent;
}

.featured ul {
  font-size: 24px;
  background-color: transparent;
}

.explore-arrow {
  width: 122px;
  float: right;
  margin-top: -30px !important;
}

.explore-text {
  z-index: 5;
  background: transparent;
}

.explore-text h4 {
  background: none;
}

.blob1,
.blob2,
.blob3 {
  position: absolute;
  z-index: -1;
  overflow: visible;
}

.blob1 {
  left: 0;
  top: 330px;
}

.blob2 {
  right: 200px;
  bottom: 60px;
  z-index: -1;
  height: 200px;
  width: 200px;
}

.blob3 {
  top: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  height: 338px;
  width: 338px;
}

/* Pages */
.page-heading {
  margin-left: 88px;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 5px;
}

.banner-holder {
  margin-left: 20px;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.section-heading {
  margin-left: 73px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 24px;
}

/* NFT Tile and holder*/

.nft-holder {
  margin-left: 43px;
  display: flex;
  width: 90vw;
  overflow-x: scroll;
}

.nft-holder::-webkit-scrollbar {
  display: none;
}

.nft-tile {
  display: flex;
  margin: 15px;
  flex-direction: column-reverse;
  align-items: center;
  width: 300px;
  height: 400px;
  border-radius: 30px;
}

.bottom-part {
  display: flex;
  flex-direction: row;
  padding: 5px 25px;
  padding-right: 9px;
  height: 58px;
  width: 284px;
  margin: 0px 8px;
  background: #41415c;
  opacity: 0.8;
  border-radius: 20px;
  margin-bottom: 11px;
  justify-content: space-between;
}

.nft-title {
  font-size: 18px;
  font-weight: bold;
}

.nft-username {
  font-size: 14px;
}

.bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 90px;
  height: 48px;
  background: #27273d;
  opacity: 1;
  border-radius: 15px;
}

.current {
  font-size: 11px;
}

.price {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.creator-holder {
  margin-left: 43px;
  display: flex;
  width: 90vw;
  overflow-x: scroll;
}

.creator-holder::-webkit-scrollbar {
  display: none;
}

.creator-card {
  height: 230px;
  min-width: 300px;
  background-color: #2e2e48;
  border-radius: 30px;
  margin: 15px;
}

.top-half {
  height: 148px;
  position: relative;
  width: 100%;
}

.top-half img.cover {
  height: 148px;
  width: 100%;
}

.overlay-image {
  height: 87px;
  width: 87px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.bottom-half {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
}

/* Create page */
.create-box {
  display: flex;
  width: 940px;
  height: 580px;
  margin: auto;
  background: linear-gradient(
    110.21deg,
    rgba(255, 255, 255, 0.6) 1.71%,
    rgba(255, 255, 255, 0.2) 98.82%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 60px;
  padding: 45px;
}

.image-holder {
  height: 500px;
  width: 400px;
  border: 2px dashed #ffffff;
  box-sizing: border-box;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-fields {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 400px;
  margin-left: 50px;
}

.input-fields input,
.input-fields textarea {
  background-color: transparent;
  border-radius: 30px;
}

.upload-btn {
  font-size: 22px;
  font-weight: bold;
  padding-left: 30px;
  width: 400px;
}

.save-btn {
  background: #5dd267;
  border-radius: 60px;
  height: 60px;
  width: 180px;
  align-self: flex-end;
  font-size: 18px;
  margin-top: 200px;
}

/* Modal */
.styles_overlay-content__1qZR_ {
  background-color: #27273d !important;
  border-radius: 30px;
  padding: 25px;
}

.checkout-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.price-top {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 25px;
  border-bottom: 1px solid #fff;
}

.price-top h6 {
  font-size: 18px;
}

.price-top h2 {
  font-size: 36px;
  font-weight: bold;
}

.top-right {
  margin-left: 75px;
}

.price-bottom {
  margin-top: 25px;
}

.bottom-row {
  display: flex;
  padding: 5px 15px;
}

.bottom-row .right {
  font-weight: bold;
  margin-left: 200px;
}

.balance {
  margin-left: 192px !important;
}

.button-row {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.button-row button {
  height: 50px;
  width: 300px;
  border-radius: 15px;
}

.proceed {
  background-color: #5dd267;
}

*:focus {
  outline: none;
}
